$body-color: #FAFCFE;
$header-color: #FFFFFF;
$footer-color: #0D151C;
$subheader-color: #191B1F;
$card-color: #FAFCFE;
$title-background-color: #EEEEEEDD;

$box-shadow-color: #e5e8eb;

$main-text-color: #000000;
$second-text-color: #FAFCFE;

$linear-gradient: linear-gradient(to right top, #121214, #18181b, #1d1e22, #222529, #272b30);