@use 'src/styles/vars';

.transfer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
    padding: 2rem;

    @media screen and (min-width: 1024px) {
        flex-wrap: nowrap;
    }

    &__info {
        height: 100%;
        flex-grow: 1;
        padding: 1rem;
        min-width: 15rem;

        &__title {
            padding: 0 0 1rem 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid darken(vars.$box-shadow-color, 5);
            text-align: center;
        }

        &__container {
            padding-left: 1rem;
            display: flex;
            gap: 1rem;
        }

        &__list {
            display: flex;
            flex-direction: column;

            &--values {
                text-align: right;
            }

            &--labels {
                text-align: right;
            }
        }

        &__item {
            margin-bottom: 0.5rem;
        }
    }

    &__graph {
        height: 100%;
        flex-grow: 1;
    }

}